.feed {
    background-color: #C0DEED;
}

#post-tweet {
    background-color: #337AB7;
    border-color: #337AB7;
}

.category-heading {
    font-size: small;
}

.background {
    margin-top: -16px;
    background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #C0DEED;
    min-height: 100vh;
}