.background{
    margin-top: -3vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.main{
    padding-top: 15vh;
}

#login-btn {
    background-color: #337AB7;
    border-color: #337AB7;
}

#signup-btn {
    background-color: #ffac33;
    border-color: #ffac33;
}

